.movieList{
    /* border: 1px solid red; */
    max-width: 1280px;
    margin: auto;
}

.card_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}