*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    max-width: 1280px;
    margin: auto;
    min-height: 90vh;
    padding: 10px;
}

.dark_theme .card{
    background-color: white;
    border: none;
    color: black;
}

.light_theme .card{
    background-color: rgb(208, 205, 205);
    border: none;
    color: black;
}